section#about.section.about
      .container
        .row
          .col-sm-6
            h3.section-title The Event
            p {{ev.description}}
            ul.list-arrow-right(ng-repeat=('bullet in bullets'))
              li {{bullet.info}}
          .col-sm-6
            h3.section-title.multiple-title Sounds great, how much is it?
            table.table.table-striped
              thead
                th Option
                th Cost
              tr(ng-repeat=("cost in costs"))
                td {{cost.option}}
                td {{cost.cost}}
            ul
              li When you register you will be asked to pay a £35 deposit via PayPal
              li Cost includes a small contribution to the prize fund.
            br
          .row
            .col-md-12
              figure
                img.img-responsive.center-block(alt='', src='/images/mizuno/satisfaction.jpg')
                h6.text-center No actual satisfaction guarantee is available for this event!