section#facts.section.bg-image-1.facts.text-center
      .container
        .row
          .col-sm-4
            i.ion-ios-calendar
            h3
              | {{ev.date}}
              br
              | 2016
          .col-sm-4
            i.ion-ios-location
            h3
              | {{ev.course}}
              br
              | UK
          .col-sm-4
            i.ion-trophy
            h3
              | {{users.length}}
              br
              | Competitors