footer.site-footer
  .container
    .row
      .col-md-12
        p.site-info
          | This website and the event are run completely independent of and are not endorsed by Mizuno Golf Europe.
        p.site-info
          | Custom website design by Chris Masterton-Smith based on an orginal theme by 
          a(href='http://technextit.com', target='_new') Technext Limited
          |  and with thanks to Mizuno for the images.
        ul.social-block
          li
            a(href='http://mizunoforum.com')
              i.ion-android-globe
          li
            a(href='https://twitter.com/chrism_s')
              i.ion-social-twitter
          li
            a(href='https://instagram.com/chrism_s')
              i.ion-social-instagram      