header#site-header.site-header.valign-center(background-image-directive="{{ev.name}}")
  .intro
    h3
      |{{ev.date}}
    br
    h1 {{ev.title}}
    h2 {{ev.course}}
    br
    a.btn.btn-blue(smooth-scroll-jquery='', href='', target='registration') Register Now