section#partner.section.bg-image-2.partner
  .container
    .row
      .col-md-12
        h3.section-partner Event Partners
    .row
      .col-sm-6
        a.partner-box.partner-box-1(href='http://golf.mizunoeurope.com/', target='_new')
      .col-sm-6
        a.partner-box.partner-box-2(href='http://www.snaintongolf.co.uk', target='_new')