extends layout

block content
	body
		section(ng-controller='EventControl')
			a(href='')
			include includes/navigation.jade
			include includes/header.jade
			include includes/about.jade
			include includes/facts.jade
			include includes/schedule.jade
			include includes/register.jade
			include includes/users.jade
			include includes/gallery.jade
			include includes/partner.jade
			include includes/location.jade
			include includes/footer.jade      	
