extends layout

block content
  body(ng-controller='IndexControl')
    header#site-header.site-header.valign-center(style='background: url(../images/mizuno/Mizuno-logo.png) no-repeat center center/cover')
      .intro
        h1 MIZUNO FORUM EVENTS
        h3 2016
        br
        .button(ng-repeat=('event in events'))
          a.btn.btn-blue(href='events?event={{event.name}}')
            h3 {{event.course}}

  include includes/footer.jade      	